* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden; 
    scroll-behavior: smooth;
}

body {
    color: white;
    background-image: url(assets/background_image.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: left;
}

.menu {
   font-size: 20px;
   width: min-content; 
   height: 5rem;
   position: sticky;
   top: 0;
   opacity: 0;
   transition: none;
}
.menu a {
   display: inline-block;
   text-decoration: none;
   text-transform: uppercase;
   color: var(--menu);
   padding: .5rem 0;
   transform: scale(.95);
   opacity: .25;
   transition: scale 750ms ease-in-out, opacity 450ms ease-in-out;
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
}
.menu a:first-of-type {
   transform: scale(1);
   opacity: 1;
}
.menu:hover a:not(:hover) {
   transform: scale(.95);
   opacity: .25;
}
.menu a:hover {
   transform: scale(1);
   opacity: 1;
}
section {
  position: relative;
  margin-left: 30px;
  margin-bottom: 10rem;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}


#about-me {
  margin-top: 25rem; 
}

#projects {
  margin-top: 25rem;
}

#blog {
  margin-top: 25rem;
}

#contact {
  margin-top: 25rem;
}

.card {
   display: flex;
   text-align: center;
   font-size: 50px;
   height: 100vh;
}
.hello {
   font-family: 'Open Sans', sans-serif;
   opacity: 0;
   position: relative;
   top: 80%;
   left: 45%;
   transform: translate(-50%, -50%);
   transition: none;
}
.card:hover .hello {
  opacity: 1;
}

.fade-in {
  transition: opacity 2s ease-in;
  opacity: 1;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) { 
  .menu {
    width: 100%; 
    font-size: 16px;
    text-align: center;
  }
  .card {
    flex-direction: column; 
    font-size: 30px;
  }
  .hello {
    left: 50%;
  }
  section {
    margin-bottom: 5rem; 
  }
  body, .container {
     background-size: cover;
    }
}

@media (min-width: 769px) and (max-width: 1024px) { 
  .menu {
    width: 80%; 
  }
  .card {
    font-size: 40px; 
  }
   body, .container {
     background-size: cover;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h2 {
   font-size: 30px;
}

p {
   font-family: 'Lato', sans-serif;
   font-weight: 600;
}